body {
  /* display: flex;
    height: 100vh;
    align-items: center;  /* column ke center mei karta hai */
  /*justify-content: center;  row ke center mei karta hai */
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.8s ease;
}

body.loaded {
  opacity: 1;
}

.main {
  display: flex;
  height: 90vh;
  align-items: center; /* column ke center mei karta hai */
  justify-content: center; /* row ke center mei karta hai */
}

.paper {
  padding: 100px 100px;
  border: 2px solid black;
  position: absolute; /* ek ke upar ek kar deta hai */
  cursor: grab;
  background-image: url("./assets/paper.jpg");
  background-size: 100px;
  padding: 20px 100px;
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px 0px rgba(0, 0, 0, 0.5);
  user-select: none;
  will-change: transform;
}

.paper.paper1 {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 200px;
  height: 200px;
  padding: 0;
  user-select: none;
  border-radius: 50%;
}
.paper.paper1 img {
  width: 150px;
  height: 150px;
  user-select: none;
}

.paper.paper2 {
  z-index: 9;
  width: 100px;
  user-select: none;
}

.paper.paper3 {
  z-index: 8;
  width: 300px;
  user-select: none;
}

.paper.paper4 {
  z-index: 7;
  width: 150px;
  user-select: none;
}

.paper.paper5 {
  z-index: 6;
}

.paper.paper6 {
  z-index: 5;
  width: 300px;
  height: 300px;
  padding: 0;
}

.paper.paper6 img {
  width: 300px;
  height: 300px;
}
.paper.paper7 {
  z-index: 4;
  width: 300px;
  height: 350px;
  padding: 0;
}

.paper.paper7 img {
  width: 300px;
  height: 350px;
}
.paper.paper8 {
  z-index: 3;
  width: 300px;
  height: 350px;
  padding: 0;
}

.paper.paper8 img {
  width: 300px;
  height: 350px;
}
.paper.paper9 {
  z-index: 2;
  width: 300px;
  height: 350px;
  padding: 0;
}

.paper.paper9 img {
  width: 300px;
  height: 350px;
}
.paper.paper10 {
  z-index: 1;
  width: 300px;
  height: 350px;
  padding: 0;
}

.paper.paper10 img {
  width: 300px;
  height: 350px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: "Zeyada", cursive;
  font-weight: 500;
  font-size: xx-large;
}
